@import '../../global.modules.scss';

%centered {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;    
    justify-content: center;
    align-items: center;
    align-content: center;
}

@font-face {
    font-family: "Exo";
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Exo2.0-Thin.otf') format("opentype");
}

#showcase {
    @extend %centered;
    background: url('media/Pattern@2x.png');  
    background-attachment: fixed;  
    @media(max-width: 1280px) {
        background: url('media/Pattern.png');
        background-attachment: fixed;
    }
    flex-wrap: wrap;
    &:after {
        @extend %centered;
        content: "";
        background: linear-gradient(black 0%, rgba(0, 0, 0, 0.0001) 50%, black 100%);
        opacity: 50%;
        position: fixed;
        z-index: 0;
    }
    #title {
        display: flex;    
        justify-content: center;
        align-items: center;
        font-family: Exo, Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        flex: 1 1 100%;
        padding: 36px 0 24px;
        font-size: 36px;
        line-height: 44px;
    }
}